@import "vars";
@import "mixin";


.about {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
  border-bottom: 5px solid $blue;
  //padding: 15px 0;
  margin: 100px 0 90px;
  height: 72px;
  * {
    margin: auto 0;
  }
  p {
    font-size: 20px;
    //margin: 10px 0;
    color: $grey;
  }
}
h2 {
  font-size: 29px;
}
.btn-primary {
  height: 30px;
  text-align: center;
  display: flex;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: $blue;
  color: #fff;
  font-size: 14px;
}


// HEADER

.linethrough-title.container  {
  overflow: hidden;
  text-align: center;
  margin: 25px auto;
}

.linethrough-title:before,
.linethrough-title:after {
  background-color: $grey;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.linethrough-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.linethrough-title:after {
  left: 0.5em;
  margin-right: -50%;
}

// END HEADER

.weirdline {
  height: 5px;
  width: 100%;
  margin: 0 15px;
  background-color: $grey;
  display: flex;
  &::before, &::after {
    height: 5px;
    width: 33%;
    background-color: $blue;
    content: "";
    display: flex;
  }
  &::after  {
    width: 5px;
    background-color: $dark;
  }
}
