@import "vars";
@import "mixin";


.about {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
  border-bottom: 5px solid $blue;
  padding: 15px 0;
  margin: 100px 0;
  * {
    margin: auto 0;
  }
  p {
    margin: 10px 0;
    color: $grey;
  }
}
.btn-primary {
  height: 35px;
  text-align: center;
  display: flex;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: $blue;
  color: #fff;
  font-size: 14px;
}


// HEADER

.linethrough-title.container  {
  overflow: hidden;
  text-align: center;
  margin: 30px auto;
}

.linethrough-title:before,
.linethrough-title:after {
  background-color: $grey;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.linethrough-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.linethrough-title:after {
  left: 0.5em;
  margin-right: -50%;
}

// END HEADER
