@import "vars";
@import "mixin";

.footer {
  background-color: $dark;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.region-footer {
  display: flex;
  justify-content: space-between;
  //padding: 30px 20px 30px 0;
}
.block-social-media-links {
  margin: auto 0;
  padding: 7px 0 0px;
}
