@import "vars";
@import "mixin";
.navbar-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;

  overflow: hidden;
}
.navbar {
  margin-top: 40px;
}
.nav-item {
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
  height: 100%;
  display: flex;
  font-size: 14px;
  &:first-child .nav-link{
    width: 28px;
    background-image: url($img+'icons/Homepage-menu.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.is-active::after, .is-active::before{
  height: 6px;
  content: "";
  width: 10px;
  width: 100%;

}
.is-active::after {
  margin: auto auto 0;
  background-color: $blue;
}
.is-active::before {
  margin: 0 auto auto;
}

//Navbar in middle
.nav-search, .nav-social, .nav-links, .nav-logo{
  margin: auto 30px auto 0;
}
.nav-search, .nav-links {
  .nav-link {
    padding-top: 5px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.nav-links {
  flex-grow: 1;
}
.nav-logo {
  height: 115px;
}

/*.region-nav-main {
  height: 100%;
  & nav {
    height: 100%;
    .nav-link {
      margin: auto;
    }
  }
}*/



/*.nav-social, .region-social, .platforms{
  display: flex;
  justify-content: center;
}*/

.slogan {
  padding: 35px 0 0 120px;
  margin: -75px 0;
  height: calc(700px - 155px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100;
  max-width: 40%;
  h2 {
    color: #fff;
    font-size: 70px;
    font-weight: inherit;
    line-height: 1;
  }
  h3 {
    font-size: 40px;
    font-weight: inherit;
    line-height: 1.2;
    //margin-top: -20px;
  }
  p {
    color: $blue;
    font-size: 14px;
    font-weight: inherit;
  }
}

.form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0!important;
}
.region-search {
  .form-submit, .form-text {
    height: 40px;
    border: 1px solid $grey;
    background-color: $white;
    svg {
      margin-top: 2px;
    }
  }
  .form-text {
    width: 170px;
    float: left;
    &::placeholder {
      opacity: 0;
    }
  }
  .form-submit {
    border-left: none;
    float: right;
    width: 40px;
  }
}
.form--inline {
  display: flex;
}

.nav-burger {
  width: 80px;
  height: 115px;
}
.navigation-tog{
  height: 30px;
  width: 30px;
  background-color: red;
  display: flex;
  margin: auto;
  border: none;
  background-color: transparent;
  position: relative;
  outline: none;
  .navbar-toggler-icon {
    width: 100%;
    top: 15px;
    height: 2px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &::before, &::after {
      margin: 7px 0;
      padding: 1px 0;
      width: 100%;
      height: 2px;
      background-color: black;
      content: "";
    }
  }
}

// Social links

.block-social-media-links .social-media-links--platforms li{
    padding: 0;
}
