@import "vars";
@import "mixin";

.projects-block .bg-block, .news-block .bg-block{
  background-image: url($img+'bg-lined.png');
}
.projects-block .bg-block {
  padding: 55px 0 223px;
}
.view-projects .view-content {

  padding-bottom: 50px;

}
.project-item {
  background-color: $white;
  text-align: center;
  border-bottom: 1px solid $dark;
  img {
    width: 100%;
    min-height: 290px;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  h3 {
    margin-top: 27px;
    font-weight: normal;
    font-size: 24px;
  }
  a {
    display: flex;
    font-size: 15px;
    margin: 4px auto;
    width: fit-content;
  }
  .btn-secondary {
    background-color: $dark;
    color: $white;
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 14px;
    padding: 0 8px;
  }
}
.pager__item {
  //padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  a {
    margin: auto;
    color: $dark;
  }
}
