@import "vars";
@import "mixin";

.projects-block .bg-block, .news-block .bg-block{
  background-image: url($img+'bg-lined.png');
}
.projects-block .bg-block {
  padding: 30px 0;
}
.view-projects .view-content {

  padding-bottom: 75px;

}
.project-item {
  background-color: $white;
  text-align: center;
  img {
    width: 100%;
    min-height: 290px;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 22px;
  }
  a {
    display: flex;
    margin: 20px auto;
    width: fit-content;
  }
}
.btn-secondary {
  background-color: $dark;
  color: $white;
  padding: 10px 15px;
}
.pager__item {
  //padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  a {
    margin: auto;
    color: $dark;
  }
}
