@import "vars";
@import "mixin";
.service-item {
  text-align: center;
  margin: auto;
  align-items: center;
  h3, p {
    margin: 15px auto;
    font-weight: normal;
    .btn {
      margin: 30px auto;
      width: fit-content;
    }
  }
  p {
    font-size: 12px;
    color: $grey;
  }
}


.view-services-block.container {
  padding: 50px 0;
}
