// Include custom sub theme.
//@import 'custom/misc';
// Include bootstrap variables definitions overrides.
//@import 'custom/variables';

// Include parent theme with all things Bootstrap for full override.
//@import "../../../../themes/contrib/bootstrap4/scss/style.scss";
@import "vars";
@import "mixin";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css";
@import "navbar";
@import "fonts";
@import "about_block";
@import "services_block";
@import "projects_block";
@import "team_block";
@import "clients_block";
@import "news_block";
@import "footer";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //display: block;
}
body {
  color: $dark;
  text-transform: uppercase;
  display: block!important;
  font-family: Avenir;
}
a {
  text-decoration: none;
  color: black;
}
.article-container, .container {
  max-width: $container-width;
  @include mcenter;
}
.dialog-off-canvas-main-canvas {
  overflow: hidden;
}
.header {
  background-image: url($img+'header.png');
  background-position: center;
  background-size: cover;
  height: 700px;
}
.container {
  padding: 0;
  max-width: $container-width;
}
.navbar .container{
  display: flex;
  //max-width: 100%;
  max-height: 115px;
  //justify-content: space-between;
  background-color: $white;
}
.nav-burger {
  display: none;
}
// DEBUG:
.header{
  //display: none;
}
.block-views .linethrough-title {
  margin: 30px auto;
}
.overflow-hidden {
  overflow-y: hidden;
}
@import "media";
