@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css";
.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 500px;
  width: 1000px;
  overflow: hidden; }

.navbar {
  margin-top: 40px; }

.nav-item {
  text-align: center;
  list-style-type: none;
  margin: auto;
  vertical-align: middle;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 12px; }
  .nav-item:first-child .nav-link {
    height: 28px;
    width: 28px;
    background-image: url("../img/icons/Homepage-menu.png"); }

.is-active::after {
  height: 2px;
  content: "";
  width: 10px;
  background-color: blue; }

.nav-search, .nav-social, .nav-links {
  margin: auto 0; }

.nav-search, .nav-links {
  margin: auto 30px; }

/*.region-nav-main {
  height: 100%;
  & nav {
    height: 100%;
    .nav-link {
      margin: auto;
    }
  }
}*/
/*.nav-social, .region-social, .platforms{
  display: flex;
  justify-content: center;
}*/
.slogan {
  padding: 140px 0 0 120px;
  text-transform: uppercase;
  font-weight: 100;
  max-width: 40%; }
  .slogan h2 {
    color: #fff;
    font-size: 50px;
    font-weight: inherit; }
  .slogan h3 {
    font-size: 40px;
    font-weight: inherit; }
  .slogan p {
    color: #6e9bca;
    font-size: 20px;
    font-weight: inherit; }

.form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0 !important; }

.region-search .form-submit, .region-search .form-text {
  height: 40px;
  border: 1px solid #c4c4c4;
  background-color: #fff; }
  .region-search .form-submit svg, .region-search .form-text svg {
    margin-top: 2px; }

.region-search .form-text {
  width: 170px;
  float: left; }
  .region-search .form-text::-webkit-input-placeholder {
    opacity: 0; }
  .region-search .form-text::-moz-placeholder {
    opacity: 0; }
  .region-search .form-text::-ms-input-placeholder {
    opacity: 0; }
  .region-search .form-text::placeholder {
    opacity: 0; }

.region-search .form-submit {
  border-left: none;
  float: right;
  width: 40px; }

.form--inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-burger {
  width: 100px;
  height: 115px; }

.navigation-tog {
  height: 50px;
  width: 50px;
  background-color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 35px auto;
  border: none;
  background-color: transparent;
  position: relative;
  outline: none; }
  .navigation-tog .navbar-toggler-icon {
    width: 100%;
    top: 25px;
    height: 2px;
    background-color: black;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .navigation-tog .navbar-toggler-icon::before, .navigation-tog .navbar-toggler-icon::after {
      margin: 14px 0;
      padding: 1px 0;
      width: 100%;
      height: 2px;
      background-color: black;
      content: ""; }

.block-social-media-links .social-media-links--platforms li {
  padding: 0; }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid black;
  border-bottom: 5px solid #6e9bca;
  padding: 15px 0;
  margin: 100px 0; }
  .about * {
    margin: auto 0; }
  .about p {
    margin: 10px 0;
    color: #c4c4c4; }

.btn-primary {
  height: 35px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  background-color: #6e9bca;
  color: #fff;
  font-size: 14px; }

.linethrough-title.container {
  overflow: hidden;
  text-align: center;
  margin: 30px auto; }

.linethrough-title:before,
.linethrough-title:after {
  background-color: #c4c4c4;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%; }

.linethrough-title:before {
  right: 0.5em;
  margin-left: -50%; }

.linethrough-title:after {
  left: 0.5em;
  margin-right: -50%; }

.service-item {
  text-align: center;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .service-item h3, .service-item p {
    margin: 15px auto;
    font-weight: normal; }
    .service-item h3 .btn, .service-item p .btn {
      margin: 30px auto;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  .service-item p {
    font-size: 12px;
    color: #c4c4c4; }

.view-services-block.container {
  padding: 50px 0; }

.projects-block .bg-block, .news-block .bg-block {
  background-image: url("../img/bg-lined.png"); }

.projects-block .bg-block {
  padding: 30px 0; }

.view-projects .view-content {
  padding-bottom: 75px; }

.project-item {
  background-color: #fff;
  text-align: center; }
  .project-item img {
    width: 100%;
    min-height: 290px;
    height: 100%;
    max-height: 500px;
    -o-object-fit: cover;
       object-fit: cover; }
  .project-item h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 22px; }
  .project-item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.btn-secondary {
  background-color: #373645;
  color: #fff;
  padding: 10px 15px; }

.pager__item {
  width: 30px;
  height: 30px;
  text-align: center; }
  .pager__item a {
    margin: auto;
    color: #373645; }

.team-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: normal; }
  .team-item img {
    width: 100%;
    height: auto; }
  .team-item .btn-secondary {
    margin: 20px auto; }
  .team-item h3 {
    margin-top: 30px;
    font-weight: lighter;
    font-size: 22px; }
  .team-item p {
    color: #c4c4c4;
    font-size: 14px; }
  .team-item .platforms {
    float: left; }
  .team-item .like-btn {
    float: right; }

.view-clients-block .view-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .view-clients-block .view-content > div {
    margin: 10px; }

.slick-slide {
  margin: auto; }

.slick-track {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle; }

.news-item {
  background-color: #fff;
  padding: 20px 0; }

.news-block .bg-block {
  padding-bottom: 20px; }

.news-item-wrapper, .news-item {
  height: 100%; }

.news-item-upper-left {
  max-width: 90px;
  height: 100%;
  text-align: center; }

.news-item-upper .news-item-upper-right {
  padding: 0 20px;
  width: calc(100% - 90px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.news-item-upper-right, .news-item-lower {
  border-left: 1px solid #c4c4c4; }

.news-item-lower {
  margin: 20px 0 0 90px;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .news-item-lower .btn-secondary {
    margin: auto 0 auto auto;
    float: right; }
  .news-item-lower h3 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 10px; }
  .news-item-lower p {
    word-break: break-all;
    font-size: 12px;
    margin-bottom: 10px; }

.news-item-user .user {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px; }
  .news-item-user .user img {
    float: left;
    margin-right: 5px;
    width: 78px;
    height: 78px; }

.writer {
  color: #c4c4c4; }

.user-position {
  color: #6e9bca; }

.ago {
  min-width: 100px;
  font-size: 12px;
  text-align: right;
  color: #c4c4c4; }

.news-block .form-submit, .news-block .form-text {
  height: 40px;
  margin-top: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-right: 5px; }
  .news-block .form-submit svg, .news-block .form-text svg {
    margin-top: 2px; }

.news-block .form-text {
  float: left;
  color: black;
  padding-left: 10px; }

.news-block .form-submit {
  border-left: none;
  float: right; }

.footer {
  background-color: #373645; }

.region-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.block-social-media-links {
  margin: auto 0; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #373645;
  text-transform: uppercase;
  display: block !important; }

a {
  text-decoration: none;
  color: black; }

.article-container, .container {
  max-width: 1170px;
  margin: 0 auto; }

.header {
  background-image: url("../img/header.png");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 800px; }

.container {
  padding: 0;
  max-width: 1170px; }

.navbar .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 115px;
  background-color: #fff; }

.nav-burger {
  display: none; }

@media (max-width: 1170px) {
  .container {
    width: 100%; }
  body {
    overflow-x: hidden; }
  .nav-search {
    /*.form--inline  {
      height: 115px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }*/ }
  .navbar {
    margin-top: 0;
    position: absolute;
    z-index: 2;
    max-width: 100%; }
  .slogan {
    padding: 400px 0 120px; } }

@media (max-width: 1155px) {
  .nav-links {
    width: calc(50% - 120px);
    overflow-x: scroll; } }

@media (max-width: 1200px) {
  .container {
    padding: 0 15px !important; }
  .navbar .container {
    padding: 0 !important; }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .about .btn {
      margin: auto; } }

@media (max-width: 1070px) {
  .navbar .container {
    -webkit-transition: min-height .5s;
    -o-transition: min-height .5s;
    transition: min-height .5s;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden; }
    .navbar .container > div {
      max-width: 100%;
      margin: 0; }
  .navbar-nav {
    margin-left: 240px;
    padding: 50px 10px;
    max-width: calc(100% - 340px); }
  .nav-links {
    width: 100%; }
  .nav-burger, .nav-logo {
    display: block;
    position: absolute; }
  .nav-burger {
    right: 0; }
  .nav-social {
    margin-top: 20px;
    text-align: center;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .navbar .form--inline {
    padding: 20px; }
  .navbar .form-item {
    width: 100%; }
  .region-search .form-text {
    width: 100%; }
  .region-search .form-submit, .region-search .form-text {
    height: 80px; }
  .region-search .form-submit {
    width: 80px; }
  .navbar .platforms img {
    height: 50px;
    margin: 10px; }
  .navbar.expanded .container {
    max-height: 500px; } }

@media (max-width: 992px) {
  .service-item {
    max-width: 300px; }
  .view-projects .view-content {
    padding-bottom: 20px; }
  .navbar-nav {
    margin: 0;
    max-width: 100%; }
  .navbar {
    width: 100%; }
  .nav-links {
    margin-top: 115px !important; }
  .slogan {
    padding: 400px 0 0;
    max-height: 100%;
    max-width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .navbar-nav .nav-item {
      padding: 20px;
      font-size: 36px; }
  .nav-search {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .navbar.expanded .container {
    max-height: 100%; }
  .navbar .container, .navbar .nav-logo img, .nav-burger {
    max-height: 70px; }
    .navbar .container .navigation-tog, .navbar .nav-logo img .navigation-tog, .nav-burger .navigation-tog {
      margin: 10px auto; } }

@media (max-width: 400px) {
  .news-item-lower {
    margin-left: 0; }
  .news-item-upper-left {
    display: none; }
  .news-item-upper-right.group-right {
    width: 100%; }
  .news-item-upper-right, .news-item-lower {
    border-left: none; }
  .site-logo {
    margin: auto; }
  .region-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .navbar .form--inline {
    padding: 0; }
  .navbar .form-text {
    max-width: calc(100% - 40px); }
  .news-block .form--inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .news-block .form-text {
    max-width: 100%;
    width: 100%; }
  .news-block .form-submit {
    margin: 10px auto;
    float: none; }
  .news-block .bg-block {
    padding-bottom: 0; }
  .header {
    height: 600px;
    max-height: 100vh; }
  .region-search .form-submit, .region-search .form-text {
    height: 40px; }
  .header {
    background-position: top left; }
  .slogan {
    padding: 200px 0 0; } }

/*# sourceMappingURL=style.css.map */
